@{meta(model.title)}



<div class="wrap container" role="document">
    <div class="content row">
        <div class="main span12" role="main">
            <div class="page-header"
                 style=" background: url('http://outwardboundcalifornia.org/assets/header1.jpg') no-repeat center center !important ">
                <div class="header-text">


                    <h1>@{model.title}</h1>
                </div>

            </div>
            <div id="course-container">
                <article class="post-2511 course type-course status-publish hentry youth bay-area show_all ">
                    <div class="clearfix course-detail">
                        <div class="media">
                            <img class="media-object pull-left border-texture course-thumb" src='/assets/img/course/@{model.img}'>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="#" title="Permalink to: California Big Basin Backpacking &amp; Rock Climbing" class="externalLink" target="_blank">@{model.title}</a></h3>
                                <div class="course_items">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td>地点</td>
                                            <td>大连市金州</td>
                                        </tr>
                                        <tr>
                                            <td>价格</td>
                                            <td>￥1,360</td>
                                        </tr>
                                        <tr>
                                            <td>适合年龄</td>
                                            <td>12-13</td>
                                        </tr>
                                        <tr>
                                            <td>拓展时间</td>
                                            <td>7 天</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <img src="http://outwardboundcalifornia.org/assets/img/scholarship.png" alt="Scholarship are available" class="scholarship">
                                    <a href="http://www.outwardbound.org/course/california-big-basin-backpacking-rock-climbing/97/"   class="btn blue externalLink">查看详细</a>

                                </div>
                                <div class="scholarship_link">
                                    <img src="http://outwardboundcalifornia.org/assets/img/scholarship.png" alt="Scholarship are available">参加此课程将自动投保. <a href="#">详细计划</a>

                                </div>
                            </div>
                        </div>
                        <div class="course_region bay-area"></div>    </div>
                </article>
            </div>

        </div>

    </div>
</div>