@{meta('大连拓展训练俱乐部-野外拓展|亲子活动|企业培训|Outward Bound', '野外拓展|亲子活动|企业培训|Outward Bound', '野外拓展 亲子活动 企业培训 Outward Bound')}
@{sitemap('Homepage')}


<div class="wrap container" role="document">
    <div class="content row">
        <div class="main span12" role="main">
            <div class="section_item main_slideshow clearfix">
                <div class="featured_frame"></div>
                <div id="featured_slide" class="carousel slide center span6 carousel-fade">
                    <!-- Carousel items -->
                    <div class="carousel-inner span6">
                        <div class="active item" >
                            <h1>企业套餐</h1>
                            <h2>提高员工协作力 增进组织凝力</h2>
                        </div>
                        <div class="item" >
                            <h1>青少年套餐 </h1>
                            <h2>自强、自立、感恩素质培养</h2>
                        </div>
                        <div class="item" >
                            <h1>家庭套餐</h1>
                            <h2>亲自乐园</h2>
                        </div>
                    </div>
                    <a href="#" class="btn blue next-section">金牌套餐详情</a>
                </div>
                <img src="assets/s4bn53-301_full13-1200x515.jpg" class="featured_bg">
            </div>          <div class="section_item image_content_section media">
            <img src="assets/IMG_2985-428x300.jpg" class="pull-left border-texture">
            <div class="media-body left">
                <h3>能力,持续一生的</h3>
                <p>体验式户外拓展训练的首要供应商为青年和成年人领导项目。拓展训练课程改变生活,给你看到进一步的工具,攀升,找到自己的方向。寻求挑战,从事野外旅行,城市探索,甚至登山或攀岩课程,和带回家的勇气找到你自己的路。</p>
                <!-- <a href="#" class="btn gray next-section">Keep Going</a> -->
            </div>
        </div>          <div class="section_item image_content_section media">
            <img src="assets/IMG_2582-428x300.jpg" class="pull-right border-texture">
            <div class="media-body right">
                <h3>经验的价值</h3>
                <p>我们相信身心具有挑战性的经验,促进由训练有素的专业人员在一个安全的和支持性环境,可以帮助学生发现和开发他们的坚强的个性,领导能力和欲望。</p>
                <!-- <a href="#" class="btn gray next-section">Keep Going</a> -->
            </div>
        </div>          <div class="section_item image_content_section media">
            <img src="assets/Urban-Plunge-2.29-Fuenticilla-Heller-018-428x300.jpg" class="pull-left border-texture">
            <div class="media-body left">
                <h3>我们的社区服务</h3>
                <p>我们熟练的和富有同情心的老师全年计划在公立学校和与其他youth-serving非营利组织合作。学生拓展的概念什么是可能的,具有挑战性的生活经验转化为积极的个人成就,成为自信的和善解人意的领导人。</p>
                <!-- <a href="#" class="btn gray next-section">Keep Going</a> -->
            </div>
        </div>					<div class="section_item featured_image image_single clearfix">
            <div class="featured_frame"></div>
            <div class="pull-left image_content">
                <h3><span style="color: inherit; font-family: inherit; font-size: 24.5px;">我们的老师让我们强大</span></h3>
                <p>拓展训练教师提高和激发领导,自尊,自力更生,关心他人,服务社会,保护环境。我们的使命是通过具有挑战性的经验进行结构安全的我们的老师。哦,他们也是乐趣!</p>
                <br />
                <a href="#" class="btn gray next-section">Keep Going</a>
            </div>
            <img src="assets/IMG_3355-1200x515.jpg" alt="" class="featured_bg">
        </div>          <div class="section_item image_content_section media">
            <img src="assets/IMG_0271-428x300.jpg" class="pull-left border-texture">
            <div class="media-body left">
                <h3>找出你真正是谁</h3>
                <p>户外拓展训练经验挑战你是一个领导者,一个个人和创新者。您将开发一个意义上的社区,建立角色,并发现超越意味着什么。拓展训练教育经历激发新潜能,扩大视野。我们的创新课程将让你看到,你可以达到超过你认为可能的。</p>
                <!-- <a href="#" class="btn gray next-section">Keep Going</a> -->
            </div>
        </div>							<div class="row column_blocks">
            <div class="span4">
                <img src="assets/block_1.png" class="aligncenter" />
                <a class="btn gray" href="http://outwardboundcalifornia.org/discover/locations/">See Our Locations</a>
            </div>
            <div class="span4">
                <img src="assets/block_2.png" class="aligncenter" />
                <a class="btn gray" href="http://outwardboundcalifornia.org/discover/crew/">Meet Our Crew</a>
            </div>
            <div class="span4">
                <img src="assets/block_3.png" class="aligncenter" />
                <a class="btn gray" href="http://outwardboundcalifornia.org/discover/programs/">View our programs</a>
            </div>
        </div>
        </div><!-- /.main -->
    </div><!-- /.content -->
</div><!-- /.wrap -->