<!DOCTYPE html>
<!--[if lt IE 7]>			 <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>				 <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
<head>
    @{meta}
    <meta charset="utf-8" />

    <meta name="viewport" content="width=1200">
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/00d960a4-98af-49b2-840c-effd9ed5bbc9.css"/>
    @{favicon('favicon.ico')}

    <link rel="stylesheet" href="/assets/css/app.css">
     <script src="/assets/js/vendor/jquery-1.10.2.min.js"></script>
    <script type='text/javascript' src='/assets/js/vendor/modernizr-2.6.2.min.js'></script>
    <link rel="canonical" href="http://outwardboundcalifornia.org/">

    <link rel="alternate" type="application/rss+xml" title="Outward Bound California Feed" href="http://outwardboundcalifornia.org/feed/">
    @{head}

<head>


<body class="home page">
<div class="main_wrap clearfix">
    <div class="pull-left promomsg">
        <a class="brand pull-left" href="http://outwardboundcalifornia.org/connect/events/city-skyline-challenge-2014/">
            <img src="assets/obca-ote-promo-bug.png" />
        </a>
    </div>
    <div class="pull-right obnetwork">
        <ul class="inline">
            <li><!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_24x24">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    <a class="jiathis_counter_style"></a>
                </div>

                <!-- JiaThis Button END --></li>
        </ul>
    </div>
</div>
<div class="main_wrap content_bg clearfix">
    <header class="banner navbar navbar-static-top" role="banner">
        <div class="container">
            <nav class="clearfix" role="navigation">
                <div class="nav-main">
                    <ul id="menu-primary-navigation" class="nav"><li class="dropdown menu-discover"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/discover/">拓展项目<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-our-locations"><a href="/discover/locations/">企业拓展</a></li>
                            <li class="menu-our-programs"><a href="/discover/programs/">青少年拓展</a></li>
                            <li class="menu-our-crew"><a href="/discover/crew/">家庭拓展</a></li>
                            <li class="menu-find-a-course"><a href="/discover/courses/">寻找课程</a></li>

                        </ul>
                    </li>
                        <li class="dropdown menu-support"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/support/">VIP定制 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="menu-donate"><a href="/support/give/">Donate</a></li>
                                <li class="menu-other-ways-to-give"><a href="/support/gifts/">Other Ways to Give</a></li>
                                <li class="menu-gear-store"><a href="/support/gear-store/">Gear Store</a></li>
                            </ul>
                        </li>
                        <li class="dropdown menu-connect"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/connect/">金牌团队 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="menu-alumni"><a href="/alumni/">Alumni</a></li>
                                <li class="menu-events"><a href="/connect/events/">Events</a></li>
                                <li class="menu-blog"><a href="/connect/blog/">Blog</a></li>
                                <li class="menu-facebook"><a target="_blank" href="https://www.facebook.com/OutwardBoundCA">Facebook</a></li>
                                <li class="menu-twitter"><a target="_blank" href="https://twitter.com/OutwardBoundCA">Twitter</a></li>
                                <li class="menu-linkedin"><a target="_blank" href="http://www.linkedin.com/company/3225570?trk=tyah">LinkedIn</a></li>
                                <li class="menu-instagram"><a href="http://instagram.com/outwardboundcalifornia">Instagram</a></li>
                            </ul>
                        </li>
                        <li class="dropdown menu-about"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/about/">成功案例 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="menu-history"><a href="/about/history/">History</a></li>
                                <li class="menu-approach"><a href="/about/approach/">Approach</a></li>
                                <li class="menu-annual-report"><a href="/about/annual-report/">Annual Report</a></li>
                                <li class="menu-board"><a href="/about/board/">Board</a></li>
                                <li class="menu-jobs"><a href="/about/jobs/">Jobs</a></li>
                                <li class="menu-videos"><a href="/videos/">Videos</a></li>
                            </ul>
                        </li>
                    </ul>      </div>
                <div class="nav-main-right pull-right">
                    <ul class="nav">
                        <li class="menu-contact"><a href="/contact/">联系我们</a></li>
                        <li class="menu-faqs"><a href="/faqs/">FAQs</a></li>
                        <li class="share_cont"><span class='st_sharethis' displayText='Share'></span></li>
                    </ul>
                </div>
            </nav>
            <div class="main_heading clearfix">
                <a class="brand pull-left" href="http://outwardboundcalifornia.org/">
                    <img src="assets/logo1.png" />
                </a>
                <div class="pull-right">
                    <a href="https://donatenow.networkforgood.org/OutwardBoundCA?code=Home%20Page" class="btn blue donate">预定课程</a>
                    <a href="http://outwardboundcalifornia.org/discover/courses/" class="btn blue find_course">查找课程</a>
                </div>
            </div>
        </div>
    </header>

   @{body}
</div><!-- /.main_wrap -->

<div class="main_wrap clearfix">
    <footer class="content-info" role="contentinfo">
        <div class="container">
            <div class="footer_sidebar">
                <div class="clearfix">
                    <section class="widget-1 widget-first widget nav_menu-2 widget_nav_menu"><div class="widget-inner"><h5>Discover</h5><ul id="menu-discover" class="menu"><li class="menu-our-locations"><a href="/discover/locations/">Our Locations</a></li>
                        <li class="menu-our-programs"><a href="/discover/programs/">Our Programs</a></li>
                        <li class="menu-our-crew"><a href="/discover/crew/">Our Crew</a></li>
                        <li class="menu-find-a-course"><a href="/discover/courses/">Find a Course</a></li>
                        <li class="menu-see-the-results"><a href="/discover/results/">See the Results</a></li>
                    </ul></div></section><section class="widget-2 widget nav_menu-3 widget_nav_menu"><div class="widget-inner"><h5>Support</h5><ul id="menu-support" class="menu"><li class="menu-donate"><a href="/support/give/">Donate</a></li>
                    <li class="menu-other-ways-to-give"><a href="/support/gifts/">Other Ways to Give</a></li>
                    <li class="menu-gear-store"><a href="/support/gear-store/">Gear Store</a></li>
                </ul></div></section><section class="widget-3 widget nav_menu-4 widget_nav_menu"><div class="widget-inner"><h5>Connect</h5><ul id="menu-connect" class="menu"><li class="menu-alumni"><a href="/alumni/">Alumni</a></li>
                    <li class="menu-events"><a href="/connect/events/">Events</a></li>
                    <li class="menu-blog"><a href="/connect/blog/">Blog</a></li>
                    <li class="menu-facebook"><a href="https://www.facebook.com/OutwardBoundCA">Facebook</a></li>
                    <li class="menu-twitter"><a href="https://twitter.com/OutwardBoundCA">Twitter</a></li>
                    <li class="menu-linkedin"><a href="http://www.linkedin.com/company/3225570?trk=companies_home_ycp_logo_outward-bound-california">LinkedIn</a></li>
                    <li class="menu-instagram"><a href="http://instagram.com/outwardboundcalifornia">Instagram</a></li>
                </ul></div></section><section class="widget-4 widget nav_menu-5 widget_nav_menu"><div class="widget-inner"><h5>About</h5><ul id="menu-about" class="menu"><li class="menu-history"><a href="/about/history/">History</a></li>
                    <li class="menu-approach"><a href="/about/approach/">Approach</a></li>
                    <li class="menu-annual-report"><a href="/about/annual-report/">Annual Report</a></li>
                    <li class="menu-board"><a href="/about/board/">Board</a></li>
                    <li class="menu-jobs"><a href="/about/jobs/">Jobs</a></li>
                    <li class="menu-videos"><a href="/videos/">Videos</a></li>
                </ul></div></section><section class="widget-5 widget-last widget nav_menu-6 widget_nav_menu"><div class="widget-inner"><h5>More</h5><ul id="menu-more" class="menu"><li class="menu-contact"><a href="/contact/">Contact</a></li>
                    <li class="menu-faqs"><a href="/faqs/">FAQs</a></li>
                    <li class="menu-privacy-policy"><a href="/privacy-policy/">Privacy Policy</a></li>
                </ul></div></section>      </div>
                <div class="row social_contact">
                    <div class="span3"><p>Outward Bound California<br />
                        1539 Pershing Drive<br />
                        San Francisco, CA 94129</p>
                    </div>
                    <div class="span3"><p>Phone: (415) 933-6222<br />
                        Fax: (866) 866-5936<br />
                        Email: <a href="mailto:obca@outwardbound.org">obca@outwardbound.org</a></p>
                    </div>
                    <div class="span3">
                        <ul class="inline">
                            <li><a href="https://twitter.com/OutwardBoundCA" target="_blank"><img src="assets/twitter1.png"></a></li>
                            <li><a href="https://www.facebook.com/OutwardBoundCA" target="_blank"><img src="assets/facebook.png"></a></li>
                            <li><a href="http://www.linkedin.com/company/3225570?trk=prof-exp-company-name" target="_blank"><img src="assets/linkedin.png"></a></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <div class="newsletter_title">
                            <a href="#newsletter_modal" data-toggle="modal">Newsletter signup</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">&copy; 2013 Outward Bound California, All Rights Reserved - Designed & Built by      <a href="https://dotvita.com/" target="_blank"><img src="http://outwardboundcalifornia.org//assets/img/dotvita.png" alt="DotVita" /></a>
            </div>
        </div>
    </footer>
    <!-- Button to trigger modal -->

    <!-- Newsletter Modal -->
    <div id="newsletter_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newsletterLabel" aria-hidden="true">
        <div class="modal-header">
            <h3 id="newsletterLabel">Newsletter</h3>
        </div>
        <div class="modal-body">
            <div class='gf_browser_chrome gform_wrapper'>
                <form method="post" action="http://oi.vresp.com?fid=3504dc5159" target="vr_optin_popup" onsubmit="window.open( 'http://www.verticalresponse.com', 'vr_optin_popup', 'scrollbars=yes,width=600,height=450' ); return true;">
                    <div class='gform_body'>
                        <ul id='gform_fields_1' class='gform_fields top_label description_below'>
                            <li id='field_2_1' class='gfield'>
                                <label class='gfield_label' for='input_2_1_3'>Name</label>
                                <div class='ginput_complex ginput_container' id='input_2_1'>
                                    <span id='input_2_1_3_container' class='ginput_left'><label for='first_name'>First</label><input type='text' name='first_name' id='input_2_1_3' value=''></span><span id='input_2_1_6_container' class='ginput_right'><label for='last_name'>Last</label><input type='text' name='last_name' id='input_2_1_6' value=''></span>
                                    <div class='gf_clear gf_clear_complex'></div>
                                </div>
                            </li>
                            <li id='field_1_2' class='gfield'>
                                <label class='gfield_label' for='email_address'>Your Email Address</label>
                                <div class='ginput_container'>
                                    <input name='email_address' type='text' value='' class='medium'>
                                </div>
                            </li>
                        </ul>
                    </div><input type='submit' id='gform_submit_button_1' class='button gform_button' value='Subscribe' tabindex='5' style='position: relative; bottom: 0; right: 0;'>
                </form>
            </div>  </div>
        <div class="modal-footer">
            <h5><a href="#close" data-dismiss="modal" aria-hidden="true">Close Window</a></h5>
        </div>
    </div>

    <script type='text/javascript' src='/assets/js/jquery/ui/jquery.ui.effect.min.js?ver=1.10.3'></script>
    <script type='text/javascript' src='/assets/js/plugins.js'></script>
    <script type='text/javascript' src='/assets/js/main.js'></script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1372646076592328" charset="utf-8"></script>
</div>




</body>
</html>